---
// Import the necessary components
import MainLayout from "../layouts/MainLayout.astro";
import HeroSection from "../components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "../components/sections/landing/HeroSectionAlt.astro";
import FeaturesGeneral from "../components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "../components/sections/features/FeaturesNavs.astro";
import FAQ from "../components/sections/FAQ.astro";
import AnnouncementBanner from "../components/ui/banners/AnnouncementBanner.astro";
import heroImage from "../images/hero-image.webp";
import faqs from "../data_files/faqs.json";
import features from "../data_files/features.json";
import featureImage from "../images/features-image.webp";
import featureNavsImage from "../images/features-navbs.webp";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <AnnouncementBanner
    btnId="callusBanner"
    btnTitle="CALL US! +1 689-777-2147"
    url="tel:+16897772147"
  />

  <HeroSection
    title=`World Class <span
        class="text-yellow-500 dark:text-yellow-400">Restoration Service</span>`
    subTitle="Restoring normalcy fast! Trust our Florida-based emergency restoration team for water, fire, mold, and other crises. Serving Florida's homes and businesses with a comprehensive array of restoration solutions."
    primaryBtn="Contact Us! "
    primaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <FeaturesGeneral
    title="Expert Restoration & Cleaning Solutions in Florida"
    subTitle="Discover efficient and personalized restoration & cleaning services in Florida. Our skilled team ensures swift solutions, exceeding expectations at every step."
    src={featureImage}
    alt="Expert Restoration & Cleaning Solutions in Florida"
    features={features}
  />

  <FeaturesNavs
    title=`Discover Comprehensive  <span class="text-yellow-500 dark:text-yellow-400">Emergency Restoration Solutions.</span>`
    tabs={[
      {
        heading: "Fire Damage Restoration",
        content:
          "After a fire, restoring your property is crucial. Our emergency restoration services company specializes in bringing homes and businesses back to pre-fire conditions promptly.",
        svg: "tools",
        src: featureNavsImage,
        alt: "Fire damage restoration - Swift recovery solutions for fire-damaged properties",
        first: true,
      },
      {
        heading: "Water Damage Restoration",
        content:
          "From storms to burst pipes, water damage demands immediate action. Our Florida-based team swiftly dries and repairs properties, ensuring minimal disruption.",
        svg: "dashboard",
        src: featureNavsImage,
        alt: "Water damage restoration - Rapid solutions for water-damaged properties",
      },
      {
        heading: "Mold Remedation Services",
        content:
          "Mold poses health risks and property damage. Trust EverPro Restoration, Florida's mold remediation specialist, to eliminate mold and prevent its return effectively.",
        svg: "house",
        src: featureNavsImage,
        alt: "Mold remediation services - Effective solutions to eliminate mold and prevent recurrence",
      },
      {
        heading: "Roof Tarping Service",
        content:
          "Damaged roofs need swift protection. Our certified team offers prompt roof tarping installations to prevent further damage, ensuring your property stays secure.",
        svg: "house",
        src: featureNavsImage,
        alt: "Roof tarping service - Immediate protection for damaged roofs",
      },
      {
        heading: "Roof Shrink wrap",
        content:
          "Protect your damaged roof swiftly with our advanced roof shrink-wrap service, ensuring rapid restoration and minimal further damage.",
        svg: "house",
        src: featureNavsImage,
        alt: "Roof shrink wrap service - Swift roof protection for damage control",
      },
      {
        heading: "Sanitation Service",
        content:
          "Ensure safety and cleanliness with our comprehensive sanitation services, tailored for residential and commercial properties, guaranteeing a hygienic environment.",
        svg: "house",
        src: featureNavsImage,
        alt: "Sanitation services - Ensure cleanliness and safety for residential and commercial properties",
      },
      {
        heading: "Commercial Service",
        content:
          "Elevate your business with our specialized commercial services, designed to meet the unique needs of commercial properties, ensuring efficiency and professionalism.",
        svg: "house",
        src: featureNavsImage,
        alt: "Commercial service - Professional solutions tailored for businesses",
      },
    ]}
  />


  <HeroSectionAlt
  title="Reach Out for Expert Assistance Today!"
  subTitle="Ready to take the next step? Dial our hotline now for tailored guidance and answers to all your service-related inquiries."
  url="tel:+689-777-2147"
  />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

</MainLayout>
